html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background-color: rgb(143, 230, 143);
}
.root{
    width: 300px;
    height: 300px;
    background: #fff;
}
.header{
    width: 300px;
    background-color: rgb(43, 160, 43);
    height: 50px;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
}
.body{
    padding-top: 20px;
    padding-left: 20px;
    height: 300px;
}
.row i{
    border: 5px solid rgb(63, 126, 63);
    background-color: rgb(63, 126, 63);
    height: 25px;
    width: 20px;
    text-align: center;
    
    
}
.row{
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.userName{
    width: 230px;
    height: 30px;
    margin-left: 5px;
}

.password{
     width: 230px;
    height: 30px;
    margin-left: 5px;
}
.button{
    width: 260px;
    height: 50px;
    margin-right: 20px;
    background-color: rgb(73, 188, 73);
}
.footer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
